@import "../../styles/variables";

.select {
  min-width: 130px;
}

.eventsContainer {
  @media only screen and (max-width: 900px) {
    padding-bottom: $default-padding * 2;
  }
}

.cardsList {
  overflow: auto;
  height: 315px;
  background-color: $light-gray;
  border-radius: 6px;
  width: 100%;
}

.resultsBox {
  padding: $default-padding * 2;
}

.cardPaper {
  box-sizing: border-box;
  width: 100%;
  padding: $default-padding;
  border: 4px solid $white-color;
  transition: border-color 0.5s ease;
  cursor: pointer;

  &.active {
    border: 4px solid $active-card-color;
  }
}

.card {
  padding: $default-padding * 2;
  width: 100%;
  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cardActions {
      right: $default-padding;
      top: $default-padding;
      cursor: pointer;
    }
  }

  .cardText {
    margin: $default-margin 0;
  }
}

.selectedCardDescription {
  overflow: auto;
  height: 75px;
  padding: $default-padding 0;
  border-top: 1px solid $light-gray;
}

.attendeesWrapper {
  display: flex;
  flex-wrap: wrap;

  .attendee {
    margin: 0 $default-margin $default-margin 0;
  }
}
